<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bitfountain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA8590391BBE0CD100F131B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA85904D1BBE0CD100F131B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8590581BBE0CD100F131B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
